// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";


.inline-block {
    display: inline-block;
}

.margin-small {
    margin: 10px;
}

.margin-top-medium {
    margin-top: 150px;
}

.margin-top-small {
    margin-top: 10px;
}

// loading spinner

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        :nth-child(1) {
            animation-delay: -0.45s;
        }
        :nth-child(2) {
            animation-delay: -0.3s;
        }
        :nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}

.spinner-color-black div{
    border-color: #000 transparent transparent transparent;
}

.spinner-color-white div{
    border-color: #fff transparent transparent transparent;
}

.spinner-center {
    margin: 0 auto;
    display: block;
}

.spinner-mini {
    display: inline-block;
    width: 15px;
    height: 15px;
    div {
        width: 20px;
        height: 20px;
        margin: 2px;
    }
}

.user-card {
    width: 17rem !important;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
// loading spinner end

// user-table
.user-table {
    tr:nth-child(n+2) {
        cursor: pointer;
    }
}

.users-cards {
    display: flex !important;
    flex-wrap: wrap;
    .card {
        margin-right: 22px;
        order: 5;
    }
}

// errors
.error-messages {
    padding: 0;
    li {
        list-style: none;
        margin: 5px;
        background-color: #ffc1c1;
        display: table;
        border: 1px solid red;
        padding: 8px;
    }
    span, i {
        color: #ce0000;
    }
    i {
        margin-right: 3px;
    }
}

// input invalid required message, class inherited from boostrap 4 validation classes
.invalid-feedback {
    display: block;
    margin-left: 7px;
}


